
@{
    ViewBag.Title = "EditorPasswordUpdate";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

@section leftmenu{
    <div>
        <button style="width:300px; min-height:60px; background-color:#365670; font-size:24px; border:2px solid black; cursor:pointer; overflow-wrap:break-word" onclick="location='/Editor/EditorProfile'"><b>Profil</b></button>
        <button style="width:300px; min-height:60px; background-color:#365670; font-size:24px; border:2px solid black; cursor:pointer; overflow-wrap:break-word" onclick="location='/Editor/SubtitleEdit'"><b>Alt Başlıkları Düzenle</b></button>
        <button style="width:300px; min-height:60px; background-color:#365670; font-size:24px; border:2px solid black; cursor:pointer; overflow-wrap:break-word" onclick="location='/Editor/NewAddedWritings'"><b>Yeni Eklenen Yazılar</b></button>
        <button style="width:300px; min-height:60px; background-color:#365670; font-size:24px; border:2px solid black; cursor:pointer; overflow-wrap:break-word" onclick="location='/Editor/PublishedWritings'"><b>Yayınlanmış Yazılar</b></button>
        <button style="width:300px; min-height:60px; background-color:#365670; font-size:24px; border:2px solid black; cursor:pointer; overflow-wrap:break-word" onclick="location='/Editor/EditorPasswordUpdate'"><b>Şifreyi Değiştir</b></button>
    </div>
}

@section content{
    @using (Html.BeginForm("EditorPasswordUpdate", "Editor", FormMethod.Post))
    {
        <div style="width:410px; margin-left:300px; margin-top:30px; margin-bottom:30px; padding:20px; background-color:#c3dde8">
            <table style="margin-left:30px">
                <tr>
                    <td style="font-size:20px"><label for="oldPassword"><b>Eski Şifre:</b></label></td>
                    <td><input type="password" id="oldPassword" name="oldPassword" style="margin-top:20px"/><br /><br /></td>
                </tr>
                <tr>
                    <td style="font-size:20px"><label for="newPassword1"><b>Yeni Şifre:</b></label></td>
                    <td><input type="password" id="newPassword1" name="newPassword1" style="margin-top:20px"/><br /><br /></td>
                </tr>
                <tr>
                    <td style="font-size:20px"><label for="newPassword2"><b>Yeni Şifre(Tekrar):</b></label></td>
                    <td><input type="password" id="newPassword2" name="newPassword2" style="margin-top:20px"/><br /><br /></td>
                </tr>
            </table>
            <input type="submit" value="Güncelle" style="margin-left:230px; margin-top:20px; font-size:20px; font-weight:bold; background-color:#365670" />
        </div>
    }


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            }
        </script>
    }
}

