
@{
    ViewBag.Title = "UyeOlGirisYap";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<br /><br /><br />
<div style="width:300px; height:300px; margin-left:450px; float:left">
    <button style="width:150px; height:60px; margin-top:90px; margin-left:100px; background-color:#365670; font-size:20px;" onclick="location='/HomePage/UyeGiris'"><b>Üye Olarak<br />Giriş Yap</b></button><br /><br />
    <button style="width:150px; height:60px; margin-left:100px; background-color:#365670; font-size:20px" onclick="location='/HomePage/EditorLogin'"><b>Editör Olarak<br />Giriş Yap</b></button>
</div>

<div style="width:50px; height:300px; float:left">
    <br /><br /><br /><br /><br /><br /><br />
    <p>VEYA</p>
</div>

<div style="width:300px; height:300px; float:left">
    <h2 style="margin-left:50px; margin-top:140px; cursor:pointer" onclick="location='/HomePage/UyeOlmaSayfasi'"><u>Üye Ol</u></h2>
</div>